.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input1{
  margin-top:10vh
}
table{

  margin-top:5vh
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  margin-top:3vh;
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #f7f1f1;
}
td:hover {
  background-color: rgb(89, 132, 138);
}

.title{
  color:blue
}
button{
 margin:1vh
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
